/* Empty. Add your own CSS if you like */

.button.button-grey {
    border-color: #585858;
    background-color: #585858;
    color: #fff; }
    .button.button-grey:hover {
      color: #fff;
      text-decoration: none; }
    .button.button-grey.active, .button.button-grey.activated {
      border-color: #585858;
      background-color: #686868;
      box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1); }
    .button.button-grey.button-clear {
      border-color: transparent;
      background: none;
      box-shadow: none;
      color: #585858; }
    .button.button-grey.button-icon {
      border-color: transparent;
      background: none; }
    .button.button-grey.button-outline {
      border-color: #585858;
      background: transparent;
      color: #585858; }
      .button.button-grey.button-outline.active, .button.button-grey.button-outline.activated {
        background-color: #585858;
        box-shadow: none;
        color: #fff; }

/*End*/

.light{
	background-color: #2E2E31;
}

.linegrey{

	background-color: #2E2E31;
	border:none;
	border-bottom: 1px solid #8DB4B4;
}

.top180{
	margin-top: 180px;
}

input.white{
	color:#fff;
	font-size:18px;
}

.right8{
	right: 8px;
}

.light-grey{
	background-color: #EDEBEE;
	border:0px;
}

.line-light-grey{
	background-color: #EDEBEE;
	border:none;
	border-bottom: 1px solid #8DB4B4;
}

.bottommsg{
	position: fixed;
	bottom:0px;
	width: 100%;
}

.divsend{
	background-color:#D5D5D9;
	margin-left: 7px;
}

.iconsend{
	font-size: 18px;
}

.width70{
	width: 75%;
	margin-right:0px;
}

.log{
	text-align:center;
	font-size: 13px;
	color: #8A8A8A;
	padding: 7px 14px 7px 14px;

}

.message{
	padding: 7px 14px 7px 14px;
    font-size: 16px;
}

.nopadtop{
padding-top: 0px;
}

.content{
	bottom:68px;
}
